body {
    font-family: 'Lobster Two', cursive;
    font-size: 1em;
    line-height: 1.5em;
    overflow: auto;
}

#nav {
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    background-color: #eae7dc;
    color: #eee;
    display: flex;
    overflow: auto;
}

section {
    overflow: auto;
}

nav > h1 {
    font-size: 3em;
    font-weight: bold;
}
nav a {
    text-decoration: none;
    color: #8e8d8a;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em;
    color: #e98704;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin: 5px;
}

nav ul a:hover {
    color: #e85a4f;
}

/* What Causes Dough To Rise? */

section#dough {
    background-color: #ffffff;
    background-image: url(images/dough.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
    text-shadow: 1px 2px 2px black;
    height: 30vw;
    padding-top: 1vw;
    padding-left: 5vw;
}

section#dough > div.rise {
    width: 50vw;
}

section#dough > div.rise h2{
    font-size: 2em;
    font-weight: bolder;
}

section#dough > div.ferment {
    align-self: flex-end;
    width: 50vw;
}

section#dough > div.ferment h2 {
    font-size: 2em;
    font-weight: bolder;
}

/* Cards */

#vs {
    background-color: #eae7dc;
    padding: 50px 0;
}

#vs h2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 1.5em;
}

#vs ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#vs img {
    border-radius: 10px 10px 0 0;
}

#vs ul li {
    display: flex;
    flex-direction: column;
    width: 350px;
    align-items: center;
    border-radius: 15px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
}

#vs ul li p {
    padding: 0 10px;
}

#vs ul li a {
    align-self: flex-end;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #8e8d8a;
    color: white;
    border-radius: 17px 0 17px 0;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

/* Wild Yeast */

section#wild-yeast {
    background-image: url(images/wild-yeast-2.jpg);
    background-size: cover;
    display: flex;
    height: 75vh;
    color: white;
    text-shadow: 1px 2px 2px black;
}

div.transbox {
    margin: 50px;
    height: 65%;
    background-color: rgba(142, 141, 138, 0.6);
    border: 1px solid black;
    border-radius: 15px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#wild-yeast h2 {
    font-size: 2.5em;
    font-weight: bolder;
    padding-left: 1vw;
    padding-top: 3vh;
}

#wild-yeast p {
    flex: 1;
    align-self: center;
    margin-right: 5%;
}

#wild-yeast img {
    border-radius: 15px;
    align-self: center;
    margin-right: 5vw;
}

/* Starter Recipe */

#starter {
    background-color: #eae7dc;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
}

#starter h2 {
    font-weight: bolder;
    font-size: 2.5em;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -20px;
}

#starter p {
    font-size: 1.25em;
    font-weight: bolder;
}

#starter > div.starter-text {
    border-radius: 50px;
    border-style: solid;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

/* Recipe */

section#recipe {
    background-image: url(images/shaping.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 3px 2px 2px black;
    height: 75vh;
    padding-left: 10%;
    padding-right: 10%;
}

#recipe div {
    background-color: rgba(142, 141, 138, 0.6);
    padding: 0 10px;
    border-radius: 25px;
    padding: 0 2% 0 2%;
    display: flex;
    flex-direction: column;
}

#recipe h2 {
    font-weight: bolder;
    font-size: 2.5em;
    text-decoration: underline;
    align-self: center;
}

/* Contact */

footer {
    display: flex;
    flex-direction: column;
    background-color: #eae7dc;
}

footer > h2 {
    text-align: center;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.75em;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5em;
    border: 1px;
    border-style: solid;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    width: 20vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.44);
  }

div.message textarea {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.44);
}

  button {
    width: 100px;
    padding: 0.75em;
    background-color: #e85a4f;
    font-size: 1em;
    color: white;
    margin: 1em;
  }